$header-height: 72px;
/* Color styles */
$material-theme--syslightprimary: #6d4ea1;
$material-theme--syslighton-primary: #ffffff;
$material-theme--syslightprimary-container: #eddcff;
$material-theme--syslighton-primary-container: #260059;
$material-theme--syslightsecondary: #635a70;
$material-theme--syslighton-secondary: #ffffff;
$material-theme--syslightsecondary-container: #eadef7;
$material-theme--syslighton-secondary-container: #1f182b;
$material-theme--syslighttertiary: #7f515c;
$material-theme--syslighton-tertiary: #ffffff;
$material-theme--syslighttertiary-container: #ffd9e1;
$material-theme--syslighton-tertiary-container: #32101a;
$material-theme--syslighterror: #ba1b1b;
$material-theme--syslighterror-container: #ffdad4;
$material-theme--syslighton-error: #ffffff;
$material-theme--syslighton-error-container: #410001;
$material-theme--syslightbackground: #fffbfc;
$material-theme--syslighton-background: #1d1b1e;
$material-theme--syslightsurface: #fffbfc;
$material-theme--syslighton-surface: #1d1b1e;
$material-theme--syslightsurface-variant: #e8e0eb;
$material-theme--syslighton-surface-variant: #49454e;
$material-theme--syslightoutline: #7a757e;
$material-theme--syslightinverse-on-surface: #f5eff4;
$material-theme--syslightinverse-surface: #323033;
$material-theme--syslightinverse-primary: #d6baff;
$material-theme--syslightshadow: #000000;
$material-theme--sysdarkprimary: #d6baff;
$material-theme--sysdarkon-primary: #3d1c6f;
$material-theme--sysdarkprimary-container: #543587;
$material-theme--sysdarkon-primary-container: #eddcff;
$material-theme--sysdarksecondary: #cec2db;
$material-theme--sysdarkon-secondary: #352d41;
$material-theme--sysdarksecondary-container: #4b4357;
$material-theme--sysdarkon-secondary-container: #eadef7;
$material-theme--sysdarktertiary: #f1b8c4;
$material-theme--sysdarkon-tertiary: #4b252f;
$material-theme--sysdarktertiary-container: #643b45;
$material-theme--sysdarkon-tertiary-container: #ffd9e1;
$material-theme--sysdarkerror: #ffb4a9;
$material-theme--sysdarkerror-container: #930006;
$material-theme--sysdarkon-error: #680003;
$material-theme--sysdarkon-error-container: #ffdad4;
$material-theme--sysdarkbackground: #1d1b1e;
$material-theme--sysdarkon-background: #e7e1e6;
$material-theme--sysdarksurface: #1d1b1e;
$material-theme--sysdarkon-surface: #e7e1e6;
$material-theme--sysdarksurface-variant: #49454e;
$material-theme--sysdarkon-surface-variant: #cbc4ce;
$material-theme--sysdarkoutline: #958f99;
$material-theme--sysdarkinverse-on-surface: #1d1b1e;
$material-theme--sysdarkinverse-surface: #e7e1e6;
$material-theme--sysdarkinverse-primary: #6d4ea1;
$material-theme--sysdarkshadow: #000000;
$material-theme--refprimaryprimary100: #ffffff;
$material-theme--refprimaryprimary99: #fffbfc;
$material-theme--refprimaryprimary95: #f8ecff;
$material-theme--refprimaryprimary90: #eddcff;
$material-theme--refprimaryprimary80: #d6baff;
$material-theme--refprimaryprimary70: #bd9bf5;
$material-theme--refprimaryprimary60: #a180d8;
$material-theme--refprimaryprimary50: #8767bc;
$material-theme--refprimaryprimary40: #6d4ea1;
$material-theme--refprimaryprimary30: #543587;
$material-theme--refprimaryprimary20: #3d1c6f;
$material-theme--refprimaryprimary10: #260059;
$material-theme--refprimaryprimary0: #000000;
$material-theme--refsecondarysecondary100: #ffffff;
$material-theme--refsecondarysecondary99: #fffbfc;
$material-theme--refsecondarysecondary95: #f8ecff;
$material-theme--refsecondarysecondary90: #eadef7;
$material-theme--refsecondarysecondary80: #cec2db;
$material-theme--refsecondarysecondary70: #b2a7bf;
$material-theme--refsecondarysecondary60: #978da4;
$material-theme--refsecondarysecondary50: #7d738a;
$material-theme--refsecondarysecondary40: #635a70;
$material-theme--refsecondarysecondary30: #4b4357;
$material-theme--refsecondarysecondary20: #352d41;
$material-theme--refsecondarysecondary10: #1f182b;
$material-theme--refsecondarysecondary0: #000000;
$material-theme--reftertiarytertiary100: #ffffff;
$material-theme--reftertiarytertiary99: #fcfcfc;
$material-theme--reftertiarytertiary95: #ffecef;
$material-theme--reftertiarytertiary90: #ffd9e1;
$material-theme--reftertiarytertiary80: #f1b8c4;
$material-theme--reftertiarytertiary70: #d49da9;
$material-theme--reftertiarytertiary60: #b6838e;
$material-theme--reftertiarytertiary50: #9a6a75;
$material-theme--reftertiarytertiary40: #7f515c;
$material-theme--reftertiarytertiary30: #643b45;
$material-theme--reftertiarytertiary20: #4b252f;
$material-theme--reftertiarytertiary10: #32101a;
$material-theme--reftertiarytertiary0: #000000;
$material-theme--refneutralneutral100: #ffffff;
$material-theme--refneutralneutral99: #fffbfc;
$material-theme--refneutralneutral95: #f5eff4;
$material-theme--refneutralneutral90: #e7e1e6;
$material-theme--refneutralneutral80: #cac5c9;
$material-theme--refneutralneutral70: #afaaaf;
$material-theme--refneutralneutral60: #938f93;
$material-theme--refneutralneutral50: #79767a;
$material-theme--refneutralneutral40: #605d61;
$material-theme--refneutralneutral30: #49464a;
$material-theme--refneutralneutral20: #323033;
$material-theme--refneutralneutral10: #1d1b1e;
$material-theme--refneutralneutral0: #000000;
$material-theme--refneutral-variantneutral-variant100: #ffffff;
$material-theme--refneutral-variantneutral-variant99: #fffbfc;
$material-theme--refneutral-variantneutral-variant95: #f6eef9;
$material-theme--refneutral-variantneutral-variant90: #e8e0eb;
$material-theme--refneutral-variantneutral-variant80: #cbc4ce;
$material-theme--refneutral-variantneutral-variant70: #b0a9b4;
$material-theme--refneutral-variantneutral-variant60: #958f99;
$material-theme--refneutral-variantneutral-variant50: #7a757e;
$material-theme--refneutral-variantneutral-variant40: #615c66;
$material-theme--refneutral-variantneutral-variant30: #49454e;
$material-theme--refneutral-variantneutral-variant20: #332f37;
$material-theme--refneutral-variantneutral-variant10: #1d1a22;
$material-theme--refneutral-variantneutral-variant0: #000000;
$material-theme--referrorerror100: #ffffff;
$material-theme--referrorerror99: #fcfcfc;
$material-theme--referrorerror95: #ffede9;
$material-theme--referrorerror90: #ffdad4;
$material-theme--referrorerror80: #ffb4a9;
$material-theme--referrorerror70: #ff897a;
$material-theme--referrorerror60: #ff5449;
$material-theme--referrorerror50: #dd3730;
$material-theme--referrorerror40: #ba1b1b;
$material-theme--referrorerror30: #930006;
$material-theme--referrorerror20: #680003;
$material-theme--referrorerror10: #410001;
$material-theme--referrorerror0: #000000;
$material-theme--source-seed: #352353;
$material-theme--source-primary: #6d4ea1;
$material-theme--source-secondary: #635a70;
$material-theme--source-tertiary: #7f515c;
$material-theme--source-neutral: #605d61;
$material-theme--source-neutral--variant: #615c66;
$material-theme--source-error: #ba1b1b;
$material-theme--read-onlylightsurface1: #fffbfc;
$material-theme--read-onlylightsurface2: #fffbfc;
$material-theme--read-onlylightsurface3: #fffbfc;
$material-theme--read-onlylightsurface4: #fffbfc;
$material-theme--read-onlylightsurface5: #fffbfc;
$material-theme--read-onlylightblack: #000000;
$material-theme--read-onlylightwhite: #ffffff;
$material-theme--read-onlylightprimaryopacity-008: #6d4ea1;
$material-theme--read-onlylightprimaryopacity-012: #6d4ea1;
$material-theme--read-onlylightprimaryopacity-016: #6d4ea1;
$material-theme--read-onlylighton-primaryopacity-008: #ffffff;
$material-theme--read-onlylighton-primaryopacity-012: #ffffff;
$material-theme--read-onlylighton-primaryopacity-016: #ffffff;
$material-theme--read-onlylightprimary-containeropacity-008: #eddcff;
$material-theme--read-onlylightprimary-containeropacity-012: #eddcff;
$material-theme--read-onlylightprimary-containeropacity-016: #eddcff;
$material-theme--read-onlylighton-primary-containeropacity-008: #260059;
$material-theme--read-onlylighton-primary-containeropacity-012: #260059;
$material-theme--read-onlylighton-primary-containeropacity-016: #260059;
$material-theme--read-onlylightsecondaryopacity-008: #635a70;
$material-theme--read-onlylightsecondaryopacity-012: #635a70;
$material-theme--read-onlylightsecondaryopacity-016: #635a70;
$material-theme--read-onlylighton-secondaryopacity-008: #ffffff;
$material-theme--read-onlylighton-secondaryopacity-012: #ffffff;
$material-theme--read-onlylighton-secondaryopacity-016: #ffffff;
$material-theme--read-onlylightsecondary-containeropacity-008: #eadef7;
$material-theme--read-onlylightsecondary-containeropacity-012: #eadef7;
$material-theme--read-onlylightsecondary-containeropacity-016: #eadef7;
$material-theme--read-onlylighton-secondary-containeropacity-008: #1f182b;
$material-theme--read-onlylighton-secondary-containeropacity-012: #1f182b;
$material-theme--read-onlylighton-secondary-containeropacity-016: #1f182b;
$material-theme--read-onlylighttertiaryopacity-008: #7f515c;
$material-theme--read-onlylighttertiaryopacity-012: #7f515c;
$material-theme--read-onlylighttertiaryopacity-016: #7f515c;
$material-theme--read-onlylighton-tertiaryopacity-008: #ffffff;
$material-theme--read-onlylighton-tertiaryopacity-012: #ffffff;
$material-theme--read-onlylighton-tertiaryopacity-016: #ffffff;
$material-theme--read-onlylighttertiary-containeropacity-008: #ffd9e1;
$material-theme--read-onlylighttertiary-containeropacity-012: #ffd9e1;
$material-theme--read-onlylighttertiary-containeropacity-016: #ffd9e1;
$material-theme--read-onlylighton-tertiary-containeropacity-008: #32101a;
$material-theme--read-onlylighton-tertiary-containeropacity-012: #32101a;
$material-theme--read-onlylighton-tertiary-containeropacity-016: #32101a;
$material-theme--read-onlylighterroropacity-008: #ba1b1b;
$material-theme--read-onlylighterroropacity-012: #ba1b1b;
$material-theme--read-onlylighterroropacity-016: #ba1b1b;
$material-theme--read-onlylighterror-containeropacity-008: #ffdad4;
$material-theme--read-onlylighterror-containeropacity-012: #ffdad4;
$material-theme--read-onlylighterror-containeropacity-016: #ffdad4;
$material-theme--read-onlylighton-erroropacity-008: #ffffff;
$material-theme--read-onlylighton-erroropacity-012: #ffffff;
$material-theme--read-onlylighton-erroropacity-016: #ffffff;
$material-theme--read-onlylighton-error-containeropacity-008: #410001;
$material-theme--read-onlylighton-error-containeropacity-012: #410001;
$material-theme--read-onlylighton-error-containeropacity-016: #410001;
$material-theme--read-onlylightbackgroundopacity-008: #fffbfc;
$material-theme--read-onlylightbackgroundopacity-012: #fffbfc;
$material-theme--read-onlylightbackgroundopacity-016: #fffbfc;
$material-theme--read-onlylighton-backgroundopacity-008: #1d1b1e;
$material-theme--read-onlylighton-backgroundopacity-012: #1d1b1e;
$material-theme--read-onlylighton-backgroundopacity-016: #1d1b1e;
$material-theme--read-onlylightsurfaceopacity-008: #fffbfc;
$material-theme--read-onlylightsurfaceopacity-012: #fffbfc;
$material-theme--read-onlylightsurfaceopacity-016: #fffbfc;
$material-theme--read-onlylighton-surfaceopacity-008: #1d1b1e;
$material-theme--read-onlylighton-surfaceopacity-012: #1d1b1e;
$material-theme--read-onlylighton-surfaceopacity-016: #1d1b1e;
$material-theme--read-onlylightsurface-variantopacity-008: #e8e0eb;
$material-theme--read-onlylightsurface-variantopacity-012: #e8e0eb;
$material-theme--read-onlylightsurface-variantopacity-016: #e8e0eb;
$material-theme--read-onlylighton-surface-variantopacity-008: #49454e;
$material-theme--read-onlylighton-surface-variantopacity-012: #49454e;
$material-theme--read-onlylighton-surface-variantopacity-016: #49454e;
$material-theme--read-onlylightoutlineopacity-008: #7a757e;
$material-theme--read-onlylightoutlineopacity-012: #7a757e;
$material-theme--read-onlylightoutlineopacity-016: #7a757e;
$material-theme--read-onlylightinverse-on-surfaceopacity-008: #f5eff4;
$material-theme--read-onlylightinverse-on-surfaceopacity-012: #f5eff4;
$material-theme--read-onlylightinverse-on-surfaceopacity-016: #f5eff4;
$material-theme--read-onlylightinverse-surfaceopacity-008: #323033;
$material-theme--read-onlylightinverse-surfaceopacity-012: #323033;
$material-theme--read-onlylightinverse-surfaceopacity-016: #323033;
$material-theme--read-onlylightinverse-primaryopacity-008: #d6baff;
$material-theme--read-onlylightinverse-primaryopacity-012: #d6baff;
$material-theme--read-onlylightinverse-primaryopacity-016: #d6baff;
$material-theme--read-onlylightshadowopacity-008: #000000;
$material-theme--read-onlylightshadowopacity-012: #000000;
$material-theme--read-onlylightshadowopacity-016: #000000;
$material-theme--read-onlydarksurface1: #1d1b1e;
$material-theme--read-onlydarksurface2: #1d1b1e;
$material-theme--read-onlydarksurface3: #1d1b1e;
$material-theme--read-onlydarksurface4: #1d1b1e;
$material-theme--read-onlydarksurface5: #1d1b1e;
$material-theme--read-onlydarkwhite: #ffffff;
$material-theme--read-onlydarkblack: #000000;
$material-theme--read-onlydarkprimaryopacity-008: #d6baff;
$material-theme--read-onlydarkprimaryopacity-012: #d6baff;
$material-theme--read-onlydarkprimaryopacity-016: #d6baff;
$material-theme--read-onlydarkon-primaryopacity-008: #3d1c6f;
$material-theme--read-onlydarkon-primaryopacity-012: #3d1c6f;
$material-theme--read-onlydarkon-primaryopacity-016: #3d1c6f;
$material-theme--read-onlydarkprimary-containeropacity-008: #543587;
$material-theme--read-onlydarkprimary-containeropacity-012: #543587;
$material-theme--read-onlydarkprimary-containeropacity-016: #543587;
$material-theme--read-onlydarkon-primary-containeropacity-008: #eddcff;
$material-theme--read-onlydarkon-primary-containeropacity-012: #eddcff;
$material-theme--read-onlydarkon-primary-containeropacity-016: #eddcff;
$material-theme--read-onlydarksecondaryopacity-008: #cec2db;
$material-theme--read-onlydarksecondaryopacity-012: #cec2db;
$material-theme--read-onlydarksecondaryopacity-016: #cec2db;
$material-theme--read-onlydarkon-secondaryopacity-008: #352d41;
$material-theme--read-onlydarkon-secondaryopacity-012: #352d41;
$material-theme--read-onlydarkon-secondaryopacity-016: #352d41;
$material-theme--read-onlydarksecondary-containeropacity-008: #4b4357;
$material-theme--read-onlydarksecondary-containeropacity-012: #4b4357;
$material-theme--read-onlydarksecondary-containeropacity-016: #4b4357;
$material-theme--read-onlydarkon-secondary-containeropacity-008: #eadef7;
$material-theme--read-onlydarkon-secondary-containeropacity-012: #eadef7;
$material-theme--read-onlydarkon-secondary-containeropacity-016: #eadef7;
$material-theme--read-onlydarktertiaryopacity-008: #f1b8c4;
$material-theme--read-onlydarktertiaryopacity-012: #f1b8c4;
$material-theme--read-onlydarktertiaryopacity-016: #f1b8c4;
$material-theme--read-onlydarkon-tertiaryopacity-008: #4b252f;
$material-theme--read-onlydarkon-tertiaryopacity-012: #4b252f;
$material-theme--read-onlydarkon-tertiaryopacity-016: #4b252f;
$material-theme--read-onlydarktertiary-containeropacity-008: #643b45;
$material-theme--read-onlydarktertiary-containeropacity-012: #643b45;
$material-theme--read-onlydarktertiary-containeropacity-016: #643b45;
$material-theme--read-onlydarkon-tertiary-containeropacity-008: #ffd9e1;
$material-theme--read-onlydarkon-tertiary-containeropacity-012: #ffd9e1;
$material-theme--read-onlydarkon-tertiary-containeropacity-016: #ffd9e1;
$material-theme--read-onlydarkerroropacity-008: #ffb4a9;
$material-theme--read-onlydarkerroropacity-012: #ffb4a9;
$material-theme--read-onlydarkerroropacity-016: #ffb4a9;
$material-theme--read-onlydarkerror-containeropacity-008: #930006;
$material-theme--read-onlydarkerror-containeropacity-012: #930006;
$material-theme--read-onlydarkerror-containeropacity-016: #930006;
$material-theme--read-onlydarkon-erroropacity-008: #680003;
$material-theme--read-onlydarkon-erroropacity-012: #680003;
$material-theme--read-onlydarkon-erroropacity-016: #680003;
$material-theme--read-onlydarkon-error-containeropacity-008: #ffdad4;
$material-theme--read-onlydarkon-error-containeropacity-012: #ffdad4;
$material-theme--read-onlydarkon-error-containeropacity-016: #ffdad4;
$material-theme--read-onlydarkbackgroundopacity-008: #1d1b1e;
$material-theme--read-onlydarkbackgroundopacity-012: #1d1b1e;
$material-theme--read-onlydarkbackgroundopacity-016: #1d1b1e;
$material-theme--read-onlydarkon-backgroundopacity-008: #e7e1e6;
$material-theme--read-onlydarkon-backgroundopacity-012: #e7e1e6;
$material-theme--read-onlydarkon-backgroundopacity-016: #e7e1e6;
$material-theme--read-onlydarksurfaceopacity-008: #1d1b1e;
$material-theme--read-onlydarksurfaceopacity-012: #1d1b1e;
$material-theme--read-onlydarksurfaceopacity-016: #1d1b1e;
$material-theme--read-onlydarkon-surfaceopacity-008: #e7e1e6;
$material-theme--read-onlydarkon-surfaceopacity-012: #e7e1e6;
$material-theme--read-onlydarkon-surfaceopacity-016: #e7e1e6;
$material-theme--read-onlydarksurface-variantopacity-008: #49454e;
$material-theme--read-onlydarksurface-variantopacity-012: #49454e;
$material-theme--read-onlydarksurface-variantopacity-016: #49454e;
$material-theme--read-onlydarkon-surface-variantopacity-008: #cbc4ce;
$material-theme--read-onlydarkon-surface-variantopacity-012: #cbc4ce;
$material-theme--read-onlydarkon-surface-variantopacity-016: #cbc4ce;
$material-theme--read-onlydarkoutlineopacity-008: #958f99;
$material-theme--read-onlydarkoutlineopacity-012: #958f99;
$material-theme--read-onlydarkoutlineopacity-016: #958f99;
$material-theme--read-onlydarkinverse-on-surfaceopacity-008: #1d1b1e;
$material-theme--read-onlydarkinverse-on-surfaceopacity-012: #1d1b1e;
$material-theme--read-onlydarkinverse-on-surfaceopacity-016: #1d1b1e;
$material-theme--read-onlydarkinverse-surfaceopacity-008: #e7e1e6;
$material-theme--read-onlydarkinverse-surfaceopacity-012: #e7e1e6;
$material-theme--read-onlydarkinverse-surfaceopacity-016: #e7e1e6;
$material-theme--read-onlydarkinverse-primaryopacity-008: #6d4ea1;
$material-theme--read-onlydarkinverse-primaryopacity-012: #6d4ea1;
$material-theme--read-onlydarkinverse-primaryopacity-016: #6d4ea1;
$material-theme--read-onlydarkshadowopacity-008: #000000;
$material-theme--read-onlydarkshadowopacity-012: #000000;
$material-theme--read-onlydarkshadowopacity-016: #000000;

/* Text-size styles */
$material-theme--display1: 64px;
$material-theme--display2: 57px;
$material-theme--display3: 45px;
$material-theme--headline1: 36px;
$material-theme--headline2: 32px;
$material-theme--headline3: 28px;
$material-theme--headline4: 24px;
$material-theme--headline5: 22px;
$material-theme--headline6: 18px;
$material-theme--subhead1: 16px;
$material-theme--subhead2: 14px;
$material-theme--button: 14px;
$material-theme--body1: 16px;
$material-theme--body2: 14px;
$material-theme--caption: 12px;
$material-theme--overline: 12px;
$material-theme--label-small: 11px;
$material-theme--displaylarge: 57px;
$material-theme--displaymedium: 45px;
$material-theme--displaysmall: 36px;
$material-theme--headlinelarge: 32px;
$material-theme--headlinemedium: 28px;
$material-theme--headlinesmall: 24px;
$material-theme--titlelarge: 22px;
$material-theme--titlemedium: 16px;
$material-theme--titlesmall: 14px;
$material-theme--labellarge: 14px;
$material-theme--labelmedium: 12px;
$material-theme--labelsmall: 11px;
$material-theme--bodylarge: 16px;
$material-theme--bodymedium: 14px;
$material-theme--bodysmall: 12px;

/* Effect styles */
$button-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
